@media  screen and (max-width: 767px) {
body {
    min-height: 100%;
    height: 100%;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.wrapper {
        width: 250px;
        margin: 0 auto;
    }
    .header {
        height: 100px;
        width: 250px;
        background-color: #141f40;
    }
    ・left{
        height: 250px;
        width: 150px;
        background-color: #80bfa8;
    }
    ・right {
        width: 100px;
        background-color: #8c2727;
    }
            
    .footer {
        height: 100px;
        width: 250px;
        background-color: #d98d30;
    }

}


@media  screen and (max-width: 479px) {

body {
    min-height: 100%;
    height: 100%;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.wrapper {
    width: 479px;
    margin: 0 auto;
}
.header {
    height: 100px;
    width: 150px;
    background-color: #141f40;
}
・left{
    height: 250px;
    width: 150px;
    background-color: #80bfa8;
}
・right {
    width: 250px;
    background-color: #8c2727;
}

.footer {
    height: 100px;
    width: 150px;
    background-color: #d98d30;
}
}
.contents {
    float: none;
}