<!DOCTYPE html>
<html xmlns:th="http:/ww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>商品一覧</title>
<link rel="stylesheet" href="/css/list.css">
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<p>
				<button type="button" onclick="history.back()" class="create-button1" id="button1">戻る</button>
			</p>
		</div>
		<div class="container">
			<h1 class="thema">商品一覧</h1>
			<table class="table-striped">
				<thead>
					<tr>
						<th>商品名</th>
						<th>商品コード</th>
						<th>カテゴリ</th>
						<th>カラー</th>
						<th>値段</th>
						<th>編集</th>
						<th>削除</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="shohinlist : ${shohinlist}" class="table-content">
						<td th:text="*{shohinlist.shohin_name}"></td>
						<td th:text="*{shohinlist.shohin_code}"></td>
						<td th:text="*{shohinlist.category}"></td>
						<td th:text="*{shohinlist.color}"></td>
						<td th:text="${shohinlist.price}"></td>
						<td>
							<button
								type="button" th:href="@{/edit/{shohin_code}(shohin_code=*{shohin_code})}"
								class="btn btn-secondary" id="button2">編集</button>
						</td>
						<td>
							<button
								 type="button" th:href="@{/delete/{shohin_code}(shohin_code=*{shohin_code})}"
								class="btn btn-secondary" id="button3">削除</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>