<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品一覧</title>
    <link rel="stylesheet" href="list.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <p>
                <button id="button1" onclick = "location.href='file:///Users/takadamakoto/LetsEngineer/curriculum/%E5%80%8B%E4%BA%BA%E9%96%8B%E7%99%BA/top/top.html'">
                    <b>戻る</b>
                </button>
            </p>       
        </div>
        <div class="center">
            <div class="center-in">
                <table border="1" height="400" width="1000" bordercolor="#777777">
                    <caption>
                        <font size="7">
                            <u>商品一覧</u>
                        </font>
                    </caption>
                    <thead  height="70" width="800">
                        <font size="5">
                            <tr>
                                <th bgcolor="#FFFFFF"><u>商品名</u></th><th bgcolor="#FFFFFF"><u>商品コード</u></th><th bgcolor="#FFFFFF"><u>カテゴリ</u></th><th bgcolor="#FFFFFF"><u>カラー</u></th><th bgcolor="#FFFFFF"><u>値段</u></th><th bgcolor="#FFFFFF"><u>編集</u></th><th bgcolor="#FFFFFF"><u>削除</u></th>
                            </tr>
                        </font>
                    </thead>
                    <tr>
                        <td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF">
                            <button id="button2" onclick = "location.href='file:///Users/takadamakoto/LetsEngineer/curriculum/%E5%80%8B%E4%BA%BA%E9%96%8B%E7%99%BA/edit/edit.html'">
                                <b>編集</b>
                            </button> 
                        </td>
                        <td bgcolor="#FFFFFF">
                            <input id="button3" type="reset" value="削除">
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF">
                            <button id="button4" onclick = "location.href='file:///Users/takadamakoto/LetsEngineer/curriculum/%E5%80%8B%E4%BA%BA%E9%96%8B%E7%99%BA/edit/edit.html'">
                                <b>編集</b>
                            </button>
                        </td>
                        <td bgcolor="#FFFFFF">
                            <input id="button5" type="reset" value="削除">
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF">
                            <button id="button6" onclick = "location.href='file:///Users/takadamakoto/LetsEngineer/curriculum/%E5%80%8B%E4%BA%BA%E9%96%8B%E7%99%BA/edit/edit.html'">
                                <b>編集</b>
                            </button>
                        </td>
                        <td bgcolor="#FFFFFF">
                            <input id="button7" type="reset" value="削除">
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF">
                            <button id="button8" onclick = "location.href='file:///Users/takadamakoto/LetsEngineer/curriculum/%E5%80%8B%E4%BA%BA%E9%96%8B%E7%99%BA/edit/edit.html'">
                                <b>編集</b>
                            </button>
                        </td>
                        <td bgcolor="#FFFFFF">
                            <input id="button9" type="reset" value="削除">
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF">
                            <button id="button10" onclick = "location.href='file:///Users/takadamakoto/LetsEngineer/curriculum/%E5%80%8B%E4%BA%BA%E9%96%8B%E7%99%BA/edit/edit.html'">
                                <b>編集</b>
                            </button>
                        </td>
                        <td bgcolor="#FFFFFF">
                            <input id="button11" type="reset" value="削除">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>