<!DOCTYPE html>
<html xmlns:th ="http:/ww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>商品登録</title>
<link rel="stylesheet" href="/css/register.css">
</head>
<body>
	<div class="wrapper">
		<div class="header">
				<p>
					<button type="button" onclick="history.back()" class="create-button1" id="button1">戻る</button>
				</p>
			</div>
		</div>
			<div class="contents">
				<h1 class="thema">商品登録</h1>
				<form th:action="@{/shohinlist/list}" th:object="${registerForm}" th:method="post">
					<div class="form-group">
						<label class="label">商品名<span class="text-box"></span></label> <input
							type="text" th:field="*{shohin_name}" id="textbox" class="form-control">
					</div>
					<div class="form-group">
						<label class="label1">商品コード<span class="text-box"></span></label><input type="text" th:field="*{shohin_code}" id="textbox"
						class="form-control">
					</div>
					<div class="form-group">
						<label class="label2">カテゴリ<span class="text-box"></span></label> <input
							type="text" th:field="*{category}" id="textbox" class="form-control">
					</div>
					<div class="form-group">
						<label class="label3">カラー<span class="text-box"></span></label> <input
							type="text" th:field="*{color}" id="textbox" class="form-control">
					</div>
					<div class="form-group">
						<label class="label4">値段<span class="text-box"></span></label> <input
							type="text" th:field="*{price}" id="textbox" class="form-control">
					</div>
				</form>
			</div>
		<div align="right" class="footer">
			<p>
				<button type="submit" class="create-button2"
					id="button2">登録</button>
			</p>
		</div>
</body>
</html>