<!DOCTYPE html>
<html xmlns:th ="http:/ww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOP PAGE</title>
    <link rel="stylesheet" href="/css/top.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-in">TOP PAGE</div>
        </div>
        <div class="contents">
            <p style="text-align:center">
            <a th:href="@{/list}"> 
            <input class="create-button1" id="button1" value="商品一覧"type="button">
            </a>
            </p>
            <p style="text-align:center">
            <a th:href="@{/register}"> 
            <input class="create-button2" id="button2" value="商品登録"type="button">
            </a>
            </p>
        </div>
    </div>
</body>
</html>