<!DOCTYPE html>
<html xmlns:th="http:/ww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>グッズ登録</title>
<link rel="stylesheet" href="/css/register1.css">
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<div align="left" class="header-in">
				<p>
					<button type="button" onclick="history.back()" class="button1"
						id="button1">戻る</button>
				</p>
			</div>
		</div>
		<div class="contents">
			<h1 class="title">登録</h1>
			<form th:action="@{/list}" th:object="${registerForm}"
				th:method="post">
				<div class="form-group">
					<div class="goods_name">
						<div class="error" th:errors="*{goods_name}"></div>
						<label class="label1">グッズ<span class="text-box"></span></label> <input
							type="text" th:field="*{goods_name}" id="textbox"
							class="form-control">
					</div>
				</div>
				<div class="form-group">
					<div class="price">
						<div class="error" th:errors="*{price}"></div>
						<label class="label2">値段<span class="text-box"></span></label> <input
							type="text" th:field="*{price}" id="textbox" class="form-control">
					</div>
				</div>
			</form>	
		</div>
		<div align="right" class="footer">
			<p>
				<button type="submit" class="button2" id="button2">登録</button>
			</p>
		</div>
	</div>
</body>
</html>