@media  screen and (max-width: 767px) {
    body {
        min-height: 100%;
        height: 100%;
    }
    .clearfix::after {
        content: '';
        display: block;
        clear: both;
    }
    .wrapper {
        height: 450px;
        width: 300px;
        margin: 0 auto;
    }
    .header {
        height: 100px;
        width: 300px;
        background-color: #141f40;
    }
    .contents {
        height: 250px;
        width: 300px;
    }
    .left {
        float: left;
        height: 250px;
        width: 100px;
        background-color: #80bfa8;
    }
    .center {
        height: 150px;
        width: 125px;
    }
    .center1 {
        height: 50px;
        width: 125px;
        background-color: #dbd400;
    }
    .center2 {
        float:bottom;
        height: 100px;
        width: 125px;
        background-color: #0093b7;
    }
    .rightcenter {
        float: right;
        height: 100px;
        width: 200px;
        background-color: #8c2727;
    }
    .right {
        float: right;
        height: 150px;
        width: 75px;
        background-color: #ff9a6b;
    }
    .footer {
        height: 100px;
        width: 300px;
        background-color: #d98d30;
    }
    * {
        margin: 0;
        padding: 0;
    }
}
    

    @media  screen and (max-width: 767px) {
    body {
        min-height: 100%;
        height: 100%;
    }
    .clearfix::after {
        content: '';
        display: block;
        clear: both;
    }
    .wrapper {
        height: 650px;
        width: 150px;
        margin: 0 auto;
    }
    .header {
        height: 100px;
        width: 150px;
        background-color: #141f40;
    }
    .contents {
        height: 450px;
        width: 150px;
    }
    .left {
        height: 100px;
        width: 150px;
        background-color: #80bfa8;
    }
    .center {
        height: 150px;
        width: 150px;
    }
    .center1 {
        height: 50px;
        width: 150px;
        background-color: #dbd400;
    }
    .center2 {
        height: 100px;
        width: 150px;
        background-color: #0093b7;
    }
    .rightcenter {
        height: 100px;
        width: 150px;
        background-color: #8c2727;
    }
    .right {
        height: 100px;
        width: 150px;
        background-color: #ff9a6b;
    }
    .footer {
        height: 100px;
        width: 150px;
        background-color: #d98d30;
    }
    * {
        margin: 0;
        padding: 0;
    }
}
    